<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skithub.resultdear">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->

    <queries>
        <package android:name="com.lmp.video" />
    </queries>
    <queries>
        <provider
            android:authorities="com.facebook.katana.provider.PlatformProvider"
            android:exported="false" />
    </queries>

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lutt"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:parentActivityName=".ui.splash.SplashActivity"
            android:name=".ui.notification.NotificationWebActivity"
            android:exported="false" />
        <activity
            android:name=".ui.number_not_plays.NotPlayedNumActivity"
            android:exported="false"
            android:parentActivityName=".ui.number_not_plays.MiddleSerialActivity" />
        <activity
            android:name=".ui.number_not_plays.MiddleSerialActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.middle_plays_more_days.MiddlePlaysMoreByDaysActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.adcolony.sdk.AdColonyAdViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".ui.middle_part.MiddlePartDetailsActivity"
            android:exported="false"
            android:parentActivityName=".ui.middle_part.MiddlePartActivity" />
        <activity
            android:name=".ui.middle_part.MiddlePartActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.middle_part.MiddleSerialActivity" />
        <activity
            android:name=".ui.middle_part.MiddleSerialActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.free_target_number.FreeTargetNumberActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.last_digit_first_prize.LastDigitFirstPrizeDetailsActivity"
            android:exported="false"
            android:parentActivityName=".ui.last_digit_first_prize.LastDigitFirstPrizeActivity" />
        <activity
            android:name=".ui.lottery_serial_check.NewVideoActivity"
            android:exported="false"
            android:parentActivityName=".ui.lottery_serial_check.LotterySerialCheckActivity" /> <!-- Real ad ca-app-pub-8326396827024206~5599193882 -->
        <!-- Real ad Sample AdMob app ID: ca-app-pub-7170895924418716~7690452757   mother.admob -->
        <!-- Real ad Sample AdMob app ID: ca-app-pub-4815123169795375~2020921197   Sikder it hub -->
        <!-- Real ad Sample AdMob app ID: ca-app-pub-8326396827024206~5599193882   daddy -->
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7170895924418716~7690452757" />

        <activity
            android:name=".ui.splash.PreLoaderActivity"
            android:exported="true"
            android:theme="@style/Theme.Lutt.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Lutt.NoActionBar" />
        <activity
            android:name=".ui.careful.CarefulActivity"
            android:exported="false"
            android:theme="@style/Theme.Lutt" />
        <activity
            android:name=".ui.user_details.UserDetailsActivity"
            android:exported="false"
            android:label="Add Address"
            android:theme="@style/Theme.Lutt" />
        <activity
            android:name=".ui.webview.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.lmpclass_videos.LmpClassVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lmpclass_videos.SpecialVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.audio_tutorial.AudioTutorialActivity"
            android:exported="false" />
        <activity
            android:name=".ui.buy_button_rule.ButtonBuyRuleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lottery_serial_check.LotterySerialCheckActivity"
            android:exported="false" />
        <activity
            android:name=".ui.facebook_share.FbShareActivity"
            android:exported="false" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider472103417656406"
            android:exported="true" />

        <activity
            android:name=".ui.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:exported="true"
            android:theme="@style/PlayerTheme" />
        <activity
            android:name=".ui.got_a_prize.GotPrizeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.last_digit_first_prize.LastDigitFirstPrizeActivity"
            android:exported="true"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.register_activity.LoginConfirmActivity"
            android:theme="@style/Theme.Lutt.NoTitle" />
        <activity android:name=".ui.middle_details.OneStMiddleDetailsActivity" />
        <activity android:name=".ui.tow_nd_middle_plays_more.OneStMiddleNumberActivity" />
        <activity android:name=".ui.middle_details.TwoNDmiddleDetailsActivity" />
        <activity android:name=".ui.tow_nd_middle_plays_more.TwoNdMiddlePlaysMoreActivity" />
        <activity android:name=".ui.get_help.AboutActivity" />
        <activity android:name=".ui.importent_tips.ImportentTipsActivity" />
        <activity android:name=".ui.special_number.SpecialNumberActivity" />
        <activity android:name=".ui.live_support.LiveSupportActivity" />
        <activity android:name=".ui.tutorial_video.TutorialVideoActivity" />
        <activity android:name=".ui.paid_service.ServiceInfoActivity" />
        <activity android:name=".ui.middle_details.MiddleDetailsActivity" />
        <activity
            android:name=".ui.register_activity.RegisterActivity"
            android:theme="@style/Theme.Lutt.NoTitle" />
        <activity android:name=".ui.middle_play_less.PlaylessActivity" />
        <activity android:name=".ui.middle_number.MiddleNumberActivity" />
        <activity android:name=".ui.common_number_details.CommonNumberDetailsActivity" />
        <activity android:name=".ui.common_number.CommonNumberActivity" />
        <activity android:name=".ui.winning_number.WinningNumberActivity" />
        <activity android:name=".ui.privacy_policy.PrivacyPolicyActivity" />
        <activity android:name=".ui.lottery_number_check.LotteryNumberCheckActivity" />
        <activity
            android:name=".ui.lottery_result_info.LotteryResultInfoActivity"
            android:theme="@style/Theme.Lutt.NoTitle" />
        <activity android:name=".ui.yes_vs_pre.YesVsPreActivity" />
        <activity android:name=".ui.yesterday_result.YesterdayResultActivity" />
        <activity
            android:name=".ui.today_result.TodayResultActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.get_help.To_Get_HelpActivity" />
        <activity android:name=".ui.special_or_bumper.SplOrBumperActivity" />
        <activity android:name=".ui.old_result.OldResultActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Lutt.NoTitle" />

        <service
            android:name=".services.FirebaseNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>